Repository kuz4dev/munchkin_tracker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend:test, backend:test, deploy:render

frontend:test:
  stage: test
  image: node:${NODE_VERSION}-alpine
  cache:
    key:
      files:
      - package-lock.json
    paths:
    - node_modules/
  script:
  - npm ci
  - npm run type-check
  - npx oxlint .
  - npx eslint . --cache
  - npx vitest run

backend:test:
  stage: test
  image: golang:${GO_VERSION}-alpine
  script:
  - cd server
  - go vet ./...
  - go build ./...

deploy:render:
  stage: deploy
  image: alpine:3.21
  script:
  - apk add --no-cache curl
  - curl -s -X POST "$RENDER_DEPLOY_HOOK_URL"
  when: manual
  allow_failure: true

add change log
  client/components/ChangeLog.vue
  client/components/__tests__/ChangeLog.spec.ts
  client/components/ui/collapsible/Collapsible.vue
  client/components/ui/collapsible/CollapsibleContent.vue
  client/components/ui/collapsible/CollapsibleTrigger.vue
  client/components/ui/collapsible/index.ts
  client/constants/game.ts
  client/constants/index.ts
  client/pages/RoomPage.vue
  client/stores/__tests__/room.spec.ts
  client/stores/room.ts
  client/types/index.ts
  public/favicon.ico
  server/internal/models/models.go
  server/internal/room/room.go
  server/internal/room/room_test.go
Due: frontend:test, backend:test, deploy:render

fix
  client/components/ChangeLog.vue
  client/components/CombatMode.vue
  client/components/ui/dialog/Dialog.vue
  client/components/ui/dialog/DialogClose.vue
  client/components/ui/dialog/DialogContent.vue
  client/components/ui/dialog/DialogHeader.vue
  client/components/ui/dialog/DialogTitle.vue
  client/components/ui/dialog/DialogTrigger.vue
  client/components/ui/dialog/index.ts
  client/pages/RoomPage.vue
Due: frontend:test

ci: run Go tests; add dev server launch config
  .claude/launch.json
  .gitlab-ci.yml
Due: none

fix(client): use server-provided identity, handle shared links
  client/components/CombatMode.vue
  client/components/StatsEditor.vue
  client/components/__tests__/StatsEditor.spec.ts
  client/composables/__tests__/usePlayerStats.spec.ts
  client/composables/__tests__/useRoomForm.spec.ts
  client/composables/usePlayerStats.ts
  client/composables/useRoomForm.ts
  client/constants/game.ts
  client/constants/index.ts
  client/pages/HomePage.vue
  client/pages/RoomPage.vue
  client/stores/__tests__/room.spec.ts
  client/stores/room.ts
  client/types/index.ts
Due: frontend:test

fix(server): session identity, validation and room cleanup
  server/cmd/server/main.go
  server/internal/api/ratelimit.go
  server/internal/api/ratelimit_test.go
  server/internal/api/routes.go
  server/internal/models/models.go
  server/internal/models/models_test.go
  server/internal/room/manager.go
  server/internal/room/manager_test.go
  server/internal/room/room.go
  server/internal/room/room_test.go
  server/internal/ws/client.go
  server/internal/ws/handler.go
Due: backend:test, deploy:render

feat(server): persist games in Postgres and restore them after restarts
  docker-compose.yml
  server/cmd/server/main.go
  server/go.mod
  server/go.sum
  server/internal/api/routes.go
  server/internal/api/routes_test.go
  server/internal/models/models.go
  server/internal/room/finish_test.go
  server/internal/room/manager.go
  server/internal/room/manager_test.go
  server/internal/room/persist_test.go
  server/internal/room/restore_test.go
  server/internal/room/room.go
  server/internal/room/room_test.go
  server/internal/store/contract_test.go
  server/internal/store/memory.go
  server/internal/store/migrations/00001_init.sql
  server/internal/store/postgres.go
  server/internal/store/postgres_test.go
  server/internal/store/store.go
  server/internal/store/writer.go
  server/internal/store/writer_test.go
  server/internal/ws/client.go
  server/internal/ws/handler.go
  server/internal/ws/hub.go
  server/scripts/create-test-db.sql
Due: backend:test, deploy:render

feat(client): offline players, game end and full game history
  client/components/ChangeLog.vue
  client/components/FinishGameDialog.vue
  client/components/GameSummary.vue
  client/components/PlayerCard.vue
  client/components/__tests__/ChangeLog.spec.ts
  client/components/__tests__/GameSummary.spec.ts
  client/components/__tests__/PlayerCard.spec.ts
  client/components/__tests__/StatsEditor.spec.ts
  client/composables/__tests__/usePlayerStats.spec.ts
  client/lib/__tests__/format.spec.ts
  client/lib/format.ts
  client/pages/RoomPage.vue
  client/services/roomApi.ts
  client/stores/__tests__/room.spec.ts
  client/stores/room.ts
  client/types/index.ts
Due: frontend:test

chore: health check on Render, Postgres for backend tests in CI
  .gitlab-ci.yml
  render.yaml
Due: none

ci: move CI to GitHub Actions, deploy server after tests on main
  .github/workflows/backend.yml
  .github/workflows/deploy-server.yml
  .github/workflows/frontend.yml
  .gitlab-ci.yml
Due: none

fix(server): harden against spoofed IPs, floods and slow clients
  server/cmd/server/main.go
  server/go.mod
  server/go.sum
  server/internal/api/ratelimit.go
  server/internal/api/routes_test.go
  server/internal/clientip/clientip.go
  server/internal/clientip/clientip_test.go
  server/internal/models/models.go
  server/internal/models/models_test.go
  server/internal/room/manager.go
  server/internal/room/restore_test.go
  server/internal/room/room.go
  server/internal/room/room_test.go
  server/internal/ws/client.go
  server/internal/ws/handler.go
  server/internal/ws/hub.go
  server/internal/ws/ws_test.go
Due: backend:test, deploy:render

fix(client): Content-Security-Policy, security headers, patched deps
  client/stores/__tests__/room.spec.ts
  client/stores/room.ts
  package-lock.json
  public/_headers
  vite.config.ts
  vitest.config.ts
Due: frontend:test

feat: game host who alone can finish the game
  client/components/FinishGameDialog.vue
  client/components/PlayerCard.vue
  client/components/StatsEditor.vue
  client/components/__tests__/PlayerCard.spec.ts
  client/pages/RoomPage.vue
  client/stores/__tests__/room.spec.ts
  client/stores/room.ts
  client/types/index.ts
  server/internal/models/models.go
  server/internal/room/finish_test.go
  server/internal/room/host_test.go
  server/internal/room/persist_test.go
  server/internal/room/room.go
  server/internal/store/contract_test.go
  server/internal/store/memory.go
  server/internal/store/migrations/00002_game_host.sql
  server/internal/store/postgres.go
  server/internal/store/store.go
Due: frontend:test, backend:test, deploy:render

chore: non-root container, read-only CI token, ignore local secrets
  .claude/launch.json
  .claude/settings.local.json
  .github/workflows/backend.yml
  .github/workflows/deploy-server.yml
  .github/workflows/frontend.yml
  .gitignore
  server/Dockerfile
Due: backend:test, deploy:render

feat(core): extract platform-independent game logic into packages/core
  package-lock.json
  package.json
  packages/core/package.json
  packages/core/src/__tests__/api.test.ts
  packages/core/src/__tests__/connection.test.ts
  packages/core/src/__tests__/fakes.ts
  packages/core/src/__tests__/logic.test.ts
  packages/core/src/__tests__/session.test.ts
  packages/core/src/__tests__/store.test.ts
  packages/core/src/api.ts
  packages/core/src/changelog.ts
  packages/core/src/combat.ts
  packages/core/src/connection.ts
  packages/core/src/format.ts
  packages/core/src/game.ts
  packages/core/src/index.ts
  packages/core/src/protocol.ts
  packages/core/src/selectors.ts
  packages/core/src/session.ts
  packages/core/src/standings.ts
  packages/core/src/store.ts
  packages/core/tsconfig.json
  packages/core/vitest.config.ts
Due: frontend:test

fix(core): idempotent resumeSession, erasable TypeScript syntax
  packages/core/src/__tests__/connection.test.ts
  packages/core/src/__tests__/store.test.ts
  packages/core/src/api.ts
  packages/core/src/store.ts
  packages/core/tsconfig.json
Due: none

feat(web): full room screen in React
  apps/web/src/components/ChangeLog.tsx
  apps/web/src/components/CombatMode.tsx
  apps/web/src/components/FinishGameDialog.tsx
  apps/web/src/components/GameSummary.tsx
  apps/web/src/components/PlayerCard.tsx
  apps/web/src/components/RoomHeader.tsx
  apps/web/src/components/StatsEditor.tsx
  apps/web/src/components/components.test.tsx
  apps/web/src/pages/RoomPage.test.tsx
  apps/web/src/pages/RoomPage.tsx
  apps/web/src/test/fixtures.ts
  apps/web/src/test/setup.ts
Due: none

feat(web): installable PWA, screen wake lock, lazy room screen, CSP
  .claude/launch.json
  README.md
  apps/web/index.html
  apps/web/package.json
  apps/web/public/_headers
  apps/web/public/apple-touch-icon-180x180.png
  apps/web/public/favicon-sword.png
  apps/web/public/favicon.ico
  apps/web/public/icon.svg
  apps/web/public/maskable-icon-512x512.png
  apps/web/public/pwa-192x192.png
  apps/web/public/pwa-512x512.png
  apps/web/public/pwa-64x64.png
  apps/web/pwa-assets.config.ts
  apps/web/src/App.test.tsx
  apps/web/src/App.tsx
  apps/web/src/hooks/useWakeLock.ts
  apps/web/src/index.css
  apps/web/src/pages/HomePage.tsx
  apps/web/src/pages/RoomPage.tsx
  apps/web/src/pwa/InstallHint.tsx
  apps/web/src/pwa/UpdatePrompt.tsx
  apps/web/src/pwa/install.ts
  apps/web/src/pwa/pwa.test.tsx
  apps/web/src/styles/shadcn.css
  apps/web/tsconfig.app.json
  apps/web/vite.config.ts
  apps/web/vitest.config.ts
  package-lock.json
Due: frontend:test

fix(web): copying the room code works without HTTPS; loading fallback
  .claude/launch.json
  apps/web/src/App.test.tsx
  apps/web/src/App.tsx
  apps/web/src/components/InviteButton.tsx
  apps/web/src/components/PageLoading.tsx
  apps/web/src/components/RoomHeader.tsx
  apps/web/src/lib/share.test.tsx
  apps/web/src/lib/share.ts
  apps/web/src/pages/RoomPage.tsx
Due: none

feat(web): "warm modern" redesign
  apps/web/index.html
  apps/web/package.json
  apps/web/public/apple-touch-icon-180x180.png
  apps/web/public/favicon.ico
  apps/web/public/icon.svg
  apps/web/public/maskable-icon-512x512.png
  apps/web/public/pwa-192x192.png
  apps/web/public/pwa-512x512.png
  apps/web/public/pwa-64x64.png
  apps/web/pwa-assets.config.ts
  apps/web/src/components/ChangeLog.tsx
  apps/web/src/components/CombatMode.tsx
  apps/web/src/components/FinishGameDialog.tsx
  apps/web/src/components/GameSummary.tsx
  apps/web/src/components/InviteButton.tsx
  apps/web/src/components/PageLoading.tsx
  apps/web/src/components/PlayerCard.tsx
  apps/web/src/components/RoomHeader.tsx
  apps/web/src/components/StatsEditor.tsx
  apps/web/src/components/art.tsx
  apps/web/src/components/components.test.tsx
  apps/web/src/index.css
  apps/web/src/lib/plural.ts
  apps/web/src/pages/HomePage.tsx
  apps/web/src/pages/RoomPage.test.tsx
  apps/web/src/pages/RoomPage.tsx
  apps/web/src/pwa/InstallHint.tsx
  apps/web/src/pwa/pwa.test.tsx
  apps/web/vite.config.ts
  package-lock.json
  packages/core/src/__tests__/logic.test.ts
  packages/core/src/changelog.ts
  packages/core/src/format.ts
Due: frontend:test

feat(web): bottom sheets for selects and dialogs, leave confirmation
  apps/web/src/components/CombatMode.tsx
  apps/web/src/components/FinishGameDialog.tsx
  apps/web/src/components/StatsEditor.tsx
  apps/web/src/components/components.test.tsx
  apps/web/src/components/ui/dialog.tsx
  apps/web/src/components/ui/select.tsx
  apps/web/src/components/ui/sheet.tsx
  apps/web/src/pages/RoomPage.test.tsx
  apps/web/src/pages/RoomPage.tsx
Due: none

feat(web): animated home hero
  apps/web/src/components/art.tsx
  apps/web/src/index.css
Due: none

chore: Render in Frankfurt, deploys only from CI, origins set in the dashboard
  render.yaml
Due: none

fix(server): work behind transaction-mode poolers (Neon -pooler)
  server/internal/store/postgres.go
Due: backend:test, deploy:render

fix(web): keep font subsets as files so the CSP doesn't block them
  apps/web/vite.config.ts
Due: none

chore(server): temporary endpoint to inspect proxy headers on Render
  server/cmd/server/main.go
Due: backend:test, deploy:render

chore: take the client IP from CF-Connecting-IP on Render
  render.yaml
Due: none

fix(web): no overscroll stretch in the installed app
  apps/web/src/index.css
Due: none

chore(server): remove the proxy header debug endpoint
  server/cmd/server/main.go
Due: backend:test, deploy:render

feat(server): anonymous app counters and a daily_stats view
  README.md
  server/cmd/server/main.go
  server/internal/api/metrics.go
  server/internal/api/metrics_test.go
  server/internal/api/routes.go
  server/internal/api/routes_test.go
  server/internal/store/contract_test.go
  server/internal/store/memory.go
  server/internal/store/migrations/00003_app_metrics.sql
  server/internal/store/postgres.go
  server/internal/store/postgres_test.go
  server/internal/store/store.go
Due: backend:test, deploy:render

feat(web): count visits, installs and invites; allow Cloudflare Web Analytics
  apps/web/src/components/InviteButton.tsx
  apps/web/src/components/RoomHeader.tsx
  apps/web/src/game/store.ts
  apps/web/src/lib/metrics.ts
  apps/web/src/main.tsx
  apps/web/src/pwa/InstallHint.tsx
  apps/web/vite.config.ts
Due: none

Path conditions:
  frontend:test: any of: client/**/*, package.json, package-lock.json, vite.config.ts, tsconfig*.json
  backend:test: any of: server/**/*
  deploy:render: any of: server/**/*
